body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
h1{
    font-size: 50px;
}
h2{
    font-size:35px;
}
.name{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
}
.half-width {
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float:left;

}
.half-width img {
    width: 100%;

}
.button{
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(
    45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:bottom right;

}
.Experiences-area{
    background-image: url( images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
.Experiences-text {
    width: 40%;
    height: 400px;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 5px 7px 40px gray;
    



}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;

}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}
footer  {
    text-align: center;
}